%meta{:charset => "#{Rails.application.config.encoding}"}/
%meta{:content => "Postgres Conference, the largest PostgreSQL education and advocacy platform.", :name => "description"}
%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
%meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/

-# %link{:href => "PostgresConf.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "https://fonts.googleapis.com/css?family=Muli:300,400,700&display=swap", :rel => "stylesheet"}/
%link{:crossorigin => "anonymous", :href => "https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css", :integrity => "sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=", :rel => "stylesheet"}/

= csrf_meta_tags
= yield :meta
= stylesheet_link_tag "spina/spina-custom"
= yield :stylesheets

%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"}
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery-ujs/1.2.2/rails.min.js"}
%script{:crossorigin => "anonymous", :integrity => "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}


- unless Rails.application.credentials.google_analytics_id.blank?
  %script{:async => '', :src => "https://www.googletagmanager.com/gtag/js?id=#{Rails.application.credentials.google_analytics_id}"}

  :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '#{Rails.application.credentials.google_analytics_id}');
