.container
  .row
    .col-md-10.col-lg-8.col-md-offset-1.col-lg-offset-2
      .row.user-profile__header
        .col-xs-12.visible-xs-block
          = image_tag(@user.avatar_url(version: 'large'), title: "Yo #{@user.first_name}!", :alt => '', class: 'img-circle user-profile__avatar')
        .col-sm-8
          %h1{class: 'user-profile__name'}
            = @user.name
            - if @user.nickname.present?
              .user-profile__social
                %a{:href=>"https://twitter.com/#{@user.nickname}", class: 'social-link'}
                  %span{class: 'fa fa-twitter'}
          %h4{class: 'user-profile__affiliation'}
            = @user.title
            - if @user.affiliation.present?
              at
              = @user.affiliation
          %p
          = markdown(@user.biography)

        .col-md-4.hidden-xs
          = image_tag(@user.avatar_url(version: 'large'), title: "Yo #{@user.first_name}!", :alt => '', class: 'img-circle user-profile__avatar')

  .row
    .col-md-10.col-lg-8.col-md-offset-1.col-lg-offset-2
      - presented_events = @user.presented_events.confirmed.joins(:program).order(id: :desc )
      - upcoming_events = presented_events.select {|e| e.program.conference.start_date >= DateTime.now}
      - past_events = presented_events.select {|e| e.program.conference.end_date < DateTime.now}
      %h2{class: 'user-profile__main-title'}
        Upcoming presentations
      - event = @user.presented_events.first
      - if upcoming_events.any?
        .panel.panel-default.eventblock.panel-upcoming
          .d-flex.panel-inner
            .col-main
              .panel-header
                %div
                  %h3{class: 'title'}
                    = link_to event.title, conference_program_proposal_path(event.program.conference.short_title, event)
                  %h4
                    = event.subtitle

              .panel-body
                %p
                  = markdown(truncate(event.abstract, :length => 400))

            .col-additional
              .h4{class: 'conference-title'}
                @ #{event.program.conference.title}
              .speakers
                - event.speakers_ordered.each do |speaker|
                  = image_tag speaker.avatar_url(version: 'medium'), :class => "speakers-avatar",
                                                :alt => speaker.name,
                                                :title => speaker.name
              - if event.active_schedule.present?
                %p
                  %span.fa.fa-calendar
                  = event.active_schedule.start_time.in_time_zone(event.program.conference.timezone).strftime('%b %-d %Y')
              - if event.commercials.present?
                %div
                  %span.fa.fa-video-camera
                  = link_to 'Media', conference_program_proposal_path(event.program.conference.short_title, event), class: 'conference-media'
              - if event.track
                %div.track{ style: "border-color: #{event.track.color};" }
                  = event.track.name
      - else
        %h3.text-muted
          No upcoming presentations...

      %h2{class: 'user-profile__main-title'}
        Past presentations

      - if past_events.any?
        %ul.list-unstyled
          - past_events.each do |event|
            .panel.panel-default.eventblock
              .d-flex.panel-inner
                .col-main
                  .panel-header
                    %div
                      %h3{class: 'title'}
                        = link_to event.title, conference_program_proposal_path(event.program.conference.short_title, event)
                      %h4
                        = event.subtitle

                  .panel-body
                    %p
                      = markdown(truncate(event.abstract, :length => 400))

                .col-additional
                  .h4{class: 'conference-title'}
                    @ #{event.program.conference.title}
                  .speakers
                    - event.speakers_ordered.each do |speaker|
                      = link_to user_path(speaker.friendly_id), :class => "speakers-avatar__link" do
                        = image_tag speaker.avatar_url(version: 'medium'), :class => "speakers-avatar",
                                                      :alt => speaker.name,
                                                      :title => speaker.name
                  - if event.active_schedule.present?
                    %p
                      %span.fa.fa-calendar
                      = event.active_schedule.start_time.in_time_zone(event.program.conference.timezone).strftime('%b %-d %Y')
                  - if event.commercials.present?
                    %div
                      %span.fa.fa-video-camera
                      = link_to 'Media', conference_program_proposal_path(event.program.conference.short_title, event), class: 'conference-media'
                  - if event.track
                    %div.track{ style: "border-color: #{event.track.color};" }
                      = event.track.name

      - else
        %h3.text-muted
          No past presentaions...