.row
  .col-md-12
    .page-header
      %h1 
        Policies 
        .pull-right
          - if can? :create, Policy.new(conference_id: @conference.id)
            = link_to 'New Policy', new_admin_conference_policy_path(@conference.short_title), class: 'btn btn-success'
      %p.text-muted
        Conference policies and procedures. These will show up in the footer of the conference

.row
  .col-md-12
    - if @policies.any?
      = semantic_form_for(@conference, url: update_conference_admin_conference_policies_path(@conference.short_title)) do |f|
        %table.table.table-hover#policies
          %th Show in this conference
          %th Global
          %th Policy
          %th Actions
          - @policies.each do |policy|
            %tr
              %td
                = hidden_field_tag "conference[policy_ids][]", nil
                = check_box_tag "conference[policy_ids][]", policy.id,
                                @conference.policy_ids.include?(policy.id), id: dom_id(policy)
              %td
                = policy.global
              %td
                = policy.title
              %td
                .btn-group
                  = link_to 'Show', admin_conference_policy_path(@conference.short_title, policy), class: 'btn btn-success'
                  = link_to 'Edit', edit_admin_conference_policy_path(@conference.short_title, policy),
                            class: 'btn btn-primary', disabled: !(can? :update, policy)
                  = link_to 'Delete', admin_conference_policy_path(@conference.short_title, policy),
                    method: :delete, class: 'btn btn-danger', disabled: !(can? :update, policy),
                    data: { confirm: "Do you really want to delete #{policy.title}?" }

        - if can? :update, Policy.new(conference_id: @conference.id)
          = f.submit "Save Policy Selection", class: 'btn btn-secondary pull-left'
